<h2 mat-dialog-title>{{TITLE}}</h2>
<mat-card-content style="max-height: fit-content">
    <form [formGroup]="projectForm">
        <div class="w-100">
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PROJECT_NAME}}</mat-label>
                        <input
                                matInput
                                formControlName="ProjectName"
                                required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{LAND_NAME}}</mat-label>
                        <input
                                matInput
                                formControlName="LandName"
                                required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PURCHASING_DATE}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="PurchasingDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{PURCHASING_PRICE}}</mat-label>
                        <input
                                matTooltip=""
                                matTooltipPosition="right"
                                #dateTooltip="matTooltip"
                                matTooltipHideDelay="500"
                                matInput
                                type="number"
                                formControlName="PurchasingPrice"
                                required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{EXTEND}}</mat-label>
                        <input
                                matInput
                                formControlName="Extend"
                                required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{DEED_NO}}</mat-label>
                        <input
                                matInput
                                formControlName="DeedNo"
                                required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ID}}</mat-label>
                    <input
                            matInput
                            formControlName="ID"
                            required>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{PREVIOUS_OWNER}}</mat-label>
                    <input
                            matInput
                            formControlName="PreviousOwner"
                            required>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{PRESENT_OWNER}}</mat-label>
                    <input
                            matInput
                            formControlName="PresentOwner"
                            required>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ADDRESS}}</mat-label>
                    <input
                            matInput
                            formControlName="Address"
                            required>
                </mat-form-field>
            </div>
            <div class="row w-100 mx-0">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{REMARKS}}</mat-label>
                    <input
                            matInput
                            formControlName="Remarks">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-card-content>
<mat-dialog-actions>
    <div class="row w-100 mx-0 align-items-center">
        <mat-error *ngIf="showErrorMessage">{{REQUIRED_FIELD_ERROR_TEXT}}</mat-error>
    </div>
    <div class="row w-100 mx-0 align-items-center" style="margin-top: -25px">
        <mat-error *ngIf="isError">{{REQUIRED_FIELD_ERROR_TEXT}}</mat-error>
    </div>
    <div class="row w-100 mx-0 align-items-center justify-content-end">
        <div class="d-flex justify-content-end">
            <button class="btn-p" mat-raised-button color="primary" cdkFocusInitial (click)="onClickSave()">
                <mat-icon>done</mat-icon>
                {{SAVE_BUTTON_TEXT}}
            </button>
            <button mat-button mat-dialog-close [mat-dialog-close]="false">
                <mat-icon>close</mat-icon>
                {{CANCEL_BUTTON_TEXT}}
            </button>
        </div>
    </div>
</mat-dialog-actions>
