<h2 mat-dialog-title>{{TITLE}}</h2>
<mat-dialog-content style="max-height: fit-content">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="changeTitle($event)">
        <mat-tab [label]="BASIC_DATA_TAB">
            <form [formGroup]="basicDataForm">
                <mat-form-field appearance="fill" class="w-100 mt-4">
                    <mat-label>{{FIRST_NAME}}</mat-label>
                    <input matInput [placeholder]="FIRST_NAME" formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100 mt-2">
                    <mat-label>{{LAST_NAME}}</mat-label>
                    <input matInput [placeholder]="LAST_NAME" formControlName="lastName" required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100 mt-2">
                    <mat-label>{{PHONE_NUMBER}}</mat-label>
                    <input matInput [placeholder]="PHONE_NUMBER" formControlName="phone" required>
                    <mat-error *ngIf="isSubmitted && isInvalidPhoneNumber">{{INVALID_PHONE_NUMBER_ERROR}}</mat-error>
                </mat-form-field>
            </form>
        </mat-tab>

        <mat-tab [label]="PASSWORD_TAB">
            <form [formGroup]="passwordForm">
                <mat-form-field appearance="fill" class="w-100 mt-4">
                    <mat-label>{{CURRENT_PASSWORD}}</mat-label>
                    <input matInput [placeholder]="CURRENT_PASSWORD" formControlName="oldPassword" [type]="hideCurrentPassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword">
                        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="isSubmitted && isIncorrectOldPassword">{{INCORRECT_OLD_PASSWORD}}</mat-error>

                </mat-form-field>

                <mat-form-field appearance="fill" class="mt-2 w-100">
                    <mat-label>{{NEW_PASSWORD}}</mat-label>
                    <input

                            matInput [placeholder]="NEW_PASSWORD"
                            formControlName="newPassword"
                            [type]="hideNewPassword ? 'password' : 'text'"
                            [matTooltip]="STRONG_PASSWORD_ERROR"
                            matTooltipPosition="right"
                            matTooltipHideDelay="500"
                            required>
                    <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
                        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill" class="mt-2 w-100">
                    <mat-label>{{CONFIRM_PASSWORD}}</mat-label>
                    <input
                            matInput
                            [placeholder]="CONFIRM_PASSWORD"
                            formControlName="confirmPassword"
                            [type]="hideConfirmPassword ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
                        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error> {{PASSWORD_MISMATCH_ERROR}} </mat-error>
                </mat-form-field>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
            *ngIf="selectedTabIndex == 1"
            mat-flat-button
            class="btn-p"
            color="primary"
            (click)="onChangePassword()"
            cdkFocusInitial>
        <mat-icon>done</mat-icon>
        {{CHANGE_PASSWORD_BUTTON_TEXT}}
    </button>
    <button
            *ngIf="selectedTabIndex == 0"
            mat-flat-button
            color="primary"
            class="btn-p"
            (click)="onSaveClick()"
            cdkFocusInitial>
        <mat-icon>done</mat-icon>
        {{SAVE_BUTTON_TEXT}}
    </button>
    <button mat-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
        {{CANCEL_BUTTON_TEXT}}
    </button>
</mat-dialog-actions>
