<mat-card class="mx-3" style="margin-bottom: 70px; min-width: fit-content;">
    <mat-card-content>
        <div class="d-flex justify-content-center flex-column align-items-center">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <div>
            <div class="row w-100">
                <div class="col-9 d-flex align-items-center">
                    <mat-form-field *ngIf="!isLoading" appearance="standard" class="w-25 left-0">
                        <mat-label>{{SEARCH_PLACEHOLDER}}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex justify-content-end mb-2">
                    <button *ngIf="!isLoading" class="btn-p" style="height: fit-content" mat-raised-button (click)="ngOnClickAdd()" color="primary">
                        <mat-icon>domain_add</mat-icon> &nbsp;
                        {{ADD_PROJECT}}
                    </button>
                </div>
            </div>

            <div [hidden]="isLoading" class="mat-elevation-z8 w-100">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="{{ID_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ID_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.ID }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{PROJECT_NAME_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{PROJECT_NAME_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.ProjectName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{LAND_NAME_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{LAND_NAME_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.LandName }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{ADDRESS_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ADDRESS_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.Address }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{PURCHASING_DATE_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{PURCHASING_DATE_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.PurchasingDate.toDate() | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{PURCHASING_PRICE_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{PURCHASING_PRICE_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.PurchasingPrice }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="{{EXTEND_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{EXTEND_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row"> {{ row.Extend }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{PREVIOUS_OWNER_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{PREVIOUS_OWNER_COLUMN}}</th>
                        <td mat-cell *matCellDef="let row"> {{ row.PreviousOwner }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{PRESENT_OWNER_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{PRESENT_OWNER_COLUMN}}</th>
                        <td mat-cell *matCellDef="let row"> {{ row.PresentOwner }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{DEED_NO_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{DEED_NO_COLUMN}}</th>
                        <td mat-cell *matCellDef="let row"> {{ row.DeedNo }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{REMARKS_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{REMARKS_COLUMN}}</th>
                        <td mat-cell *matCellDef="let row"> {{row.Remarks }} </td>
                    </ng-container>

                    <ng-container matColumnDef="{{ACTIONS_COLUMN}}">
                        <th mat-header-cell *matHeaderCellDef> {{ACTIONS_COLUMN}} </th>
                        <td mat-cell *matCellDef="let row">
                            <app-action-menu [data]="row"></app-action-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">{{NO_SEARCH_RESULT_TEXT}}</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[25, 5, 10, 100]"></mat-paginator>

            </div>
        </div>
    </mat-card-content>
</mat-card>
