<h2 mat-dialog-title>{{SETTLE_PAYMENT_TITLE}}</h2>
<mat-dialog-content style="max-height: fit-content">

  <div class="d-flex flex-wrap my-3">
    <div class="flex-fill mx-3">
      <div class="d-flex justify-content-start">
        <div class="">
          <p>{{TOTAL_RECEIVABLE_BALANCE_LABEL}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{totalReceivableBalance | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>

    <div class="flex-fill mx-3">
      <div class="d-flex justify-content-start">
        <div class="">
          <p>{{PAID_AMOUNT_LABEL}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{paidAmount | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap my-3">
    <div class="flex-fill mx-3">
      <div class="d-flex justify-content-start">
        <div class="">
          <p>{{REDUCED_INTEREST_LABEL}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{reducedInterest | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>

    <div class="flex-fill mx-3">
      <div class="d-flex  justify-content-center">
        <div class="">
          <p>{{BALANCE_LABEL}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{settlementBalance | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="settlementForm" (submit)="onClickSettle()">
    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{REMARKS}}</mat-label>
      <input matInput formControlName="remarks"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{REFERENCE_NO}}</mat-label>
      <input matInput formControlName="referenceNo"/>
      <mat-error *ngIf="settlementForm.controls['referenceNo'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{PARTICULARS_LABEL}}</mat-label>
      <input matInput formControlName="particulars"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{DATE}}</mat-label>
      <input matInput [matDatepicker]="pickerRealizeDate" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="pickerRealizeDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerRealizeDate></mat-datepicker>
    </mat-form-field>

    <div class="text-end">
      <button class="btn-p" type="submit" mat-raised-button color="primary" cdkFocusInitial>
        <mat-icon>done</mat-icon>
        {{SETTLE_BUTTON_TEXT}}
      </button>
      <button mat-button mat-dialog-close type="button" [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
        {{CANCEL_BUTTON_TEXT}}
      </button>
    </div>

  </form>
</mat-dialog-content>
