<ng-template [ngIf]="isLoggedIn && !isFirstLogin" [ngIfElse]="elseBlock">

    <!--  Sidenav-->
    <mat-drawer-container class="drawer-container h-100" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened style="border-right: 0; width: 250px">
            <div class="logo-card w-100 mb-3">
                <img src="{{logo}}" alt="logo">
            </div>
            <mat-expansion-panel class="sidenav" style="box-shadow: none">
                <mat-expansion-panel-header style="padding-left: 16px; color: #eeeeee">
                    <mat-panel-title class="w-100 menu-btn m-0">
                        <a mat-button class="menu-btn ps-0" style="color: #eeeeee">
                            <mat-icon class="menu-icon">people</mat-icon>
                            {{CUSTOMERS}}
                        </a>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-button class="menu-btn w-100" style="padding-left: 30px !important;" [routerLink]="EP_CUSTOMERS_URL">
                    <mat-icon class="menu-icon">people</mat-icon>
                    {{PRESENT_CUSTOMERS}}
                </a>
                <a mat-button class="menu-btn w-100" style="padding-left: 30px !important;" [routerLink]="ADVANCED_CUSTOMERS_URL">
                    <mat-icon class="menu-icon">perm_contact_calendar</mat-icon>
                    {{ADVANCED_CUSTOMERS}}
                </a>
                <a mat-button class="menu-btn w-100" style="padding-left: 30px !important;" [routerLink]="OLD_CUSTOMERS_URL">
                    <mat-icon class="menu-icon">perm_contact_calendar</mat-icon>
                    {{OLD_CUSTOMERS}}
                </a>
            </mat-expansion-panel>
            <a mat-button class="menu-btn" [routerLink]="REPORT_URL">
                <mat-icon class="menu-icon">content_paste</mat-icon>
                {{REPORTS}}
            </a>
            <a mat-button class="menu-btn" [routerLink]="PROJECTS_URL">
                <mat-icon class="menu-icon">location_city</mat-icon>
                {{PROJECTS}}
            </a>
            <a mat-button class="menu-btn" [routerLink]="MANAGE_USERS_URL">
                <mat-icon class="menu-icon">manage_accounts</mat-icon>
                {{MANAGE_USERS}}
            </a>
        </mat-drawer>
        <mat-drawer-content style="background-color: #f0f0f0">
            <div class="justify-content-center d-flex flex-column">
                <!--  Toolbar-->
                <mat-toolbar class="toolbar w-100" style="margin-bottom: 20px;">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>{{PageTitle}}</span>
                    <span class="spacer"></span>
                    <a mat-button (click)="logout()">Logout</a>
                    <a mat-button [routerLink]="NOTIFICATIONS_URL">
                        <mat-icon matBadgeColor="warn" matBadgeSize="small" [matBadge]="notificationCount" [matBadgeHidden]="!hideNotification">notifications</mat-icon>
                    </a>
                    <a mat-button (click)="onClickUserData()">
                        <mat-icon>account_circle</mat-icon>
                    </a>
                    <span>{{name}}</span>
                </mat-toolbar>
                <!--  Toolbar-->
                <router-outlet></router-outlet>
            </div>
            <footer class="footer footer-card row justify-content-center bg-light align-items-center" style="height: 5%;">
                {{COPYRIGHT}}
            </footer>
        </mat-drawer-content>
    </mat-drawer-container>
    <!--  Sidenav-->

</ng-template>

<ng-template #elseBlock>
    <router-outlet></router-outlet>
    <footer class="footer footer-card-flat row justify-content-center bg-light align-items-center" style="height: 50px;">
        {{COPYRIGHT}}
    </footer>
</ng-template>

