<h2 mat-dialog-title>{{MAKE_PAYMENT_TITLE}}</h2>
<mat-dialog-content style="max-height: fit-content">

  <div class="d-flex flex-wrap my-3">
    <div class="flex-fill mx-3">
      <div class="d-flex justify-content-center">
        <div class="">
          <p>{{INSTALLMENT}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{installment | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>

    <div class="flex-fill mx-3">
      <div class="d-flex justify-content-center">
        <div class="">
          <p>{{TOTAL_PAYABLE}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">{{totalPayable | mask: 'separator.2':','}}</p>
        </div>
      </div>
    </div>

    <div class="flex-fill mx-3">
      <div class="d-flex  justify-content-center">
        <div class="">
          <p>{{ARREARS}}&nbsp;:&nbsp;</p>
        </div>
        <div class="">
          <p style="font-weight: bolder">
            {{+arrears < 0 ? "(" : ""}}
            {{arrears | mask: 'separator.2':','}}
            {{+arrears < 0 ? ")" : ""}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="paymentForm" (submit)="onClickPay()">
    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{AMOUNT}}</mat-label>
      <input mask="separator" thousandSeparator="," matInput formControlName="amount">
      <mat-error *ngIf="paymentForm.controls['amount'].invalid">{{getAmountErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{REMARKS}}</mat-label>
      <input matInput formControlName="remarks">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{PAYMENT_DATE}}</mat-label>
      <input matInput [matDatepicker]="pickerPaymentDate" formControlName="paymentDate">
      <mat-datepicker-toggle matSuffix [for]="pickerPaymentDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerPaymentDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{PARTICULARS}}</mat-label>
      <mat-select formControlName="particulars">
        <mat-option *ngFor="let item of ParticularsList" [value]="item.value" [hidden]="!item.display">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-1">
      <mat-label>{{REFERENCE_NO}}</mat-label>
      <input matInput formControlName="refNo">
      <mat-error *ngIf="paymentForm.controls['refNo'].invalid">{{getRefNoErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="paymentForm.value.particulars == 'Paid By Cheque'" appearance="fill" class="w-100" mb-1>
      <mat-label>{{CHEQUE_NUMBER_TEXT}}</mat-label>
      <input matInput formControlName="chequeNumber">
    </mat-form-field>

    <mat-form-field *ngIf="paymentForm.value.particulars == 'Paid By Cheque'" appearance="fill" class="w-100 mb-1">
      <mat-label>{{BANK}}</mat-label>
      <input matInput formControlName="bank">
    </mat-form-field>

    <mat-form-field *ngIf="paymentForm.value.particulars == 'Paid By Cheque'" appearance="fill" class="w-100">
      <mat-label>{{REALIZE_DATE}}</mat-label>
      <input matInput [matDatepicker]="pickerRealizeDate" formControlName="realizeDate">
      <mat-datepicker-toggle matSuffix [for]="pickerRealizeDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerRealizeDate></mat-datepicker>
    </mat-form-field>

    <div class="text-end">
      <button class="btn-p" mat-raised-button color="primary" cdkFocusInitial (click)="onClickPay()"
              [disabled]="paymentForm.invalid">
        <mat-icon>done</mat-icon>
        {{PAY}}
      </button>
      <button mat-button mat-dialog-close [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
        {{CANCEL_BUTTON_TEXT}}
      </button>
    </div>
  </form>
</mat-dialog-content>
