<h2 mat-dialog-title>{{CHANGE_INSTALLMENT_TITLE}}</h2>
<mat-dialog-content style="max-height: fit-content">

    <div class="d-flex flex-wrap my-3">
        <div class="flex-fill mx-3">
            <div class="d-flex justify-content-center">
                <div class="">
                    <p>{{CURRENT_INSTALLMENT_LABEL}}&nbsp;:&nbsp;</p>
                </div>
                <div class="">
                    <p style="font-weight: bolder">{{currentInstallment | mask: 'separator.2':','}}</p>
                </div>
            </div>
        </div>

        <div class="flex-fill mx-3">
            <div class="d-flex justify-content-center">
              <div class="">
                <p>{{BALANCE_LABEL}}&nbsp;:&nbsp;</p>
              </div>
              <div class="">
                <p style="font-weight: bolder">{{currentBalance | mask: 'separator.2':','}}</p>
              </div>
            </div>
        </div>
    </div>

  <form [formGroup]="installmentForm" (submit)="onClickChange()">
    <mat-form-field appearance="fill" style="width: 85%">
      <mat-label>{{NEW_INSTALLMENT_LABEL}}</mat-label>
      <input mask="separator.2" formControlName="newInstallment" thousandSeparator="," matInput>
      <mat-error *ngIf="installmentForm.controls['newInstallment'].invalid">
        {{VALIDATION_MESSAGES.required(NEW_INSTALLMENT_LABEL)}}
      </mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="calculateInstallment()">
      <mat-icon>calculate</mat-icon>
    </button>

    <mat-form-field appearance="fill" style="width: 85%">
      <mat-label>{{NEW_MONTH_COUNT_LABEL}}</mat-label>
      <input formControlName="newMonthCount" matInput>
      <mat-error *ngIf="installmentForm.controls['newMonthCount'].invalid">
        {{VALIDATION_MESSAGES.required(NEW_MONTH_COUNT_LABEL)}}
      </mat-error>
    </mat-form-field>
    <button type="button" mat-icon-button (click)="calculateMonthCount()">
      <mat-icon>calculate</mat-icon>
    </button>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{REMARKS_LABEL}}</mat-label>
      <input matInput formControlName="remarks">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{PARTICULARS_LABEL}}</mat-label>
      <input matInput formControlName="particular">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{DATE}}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="text-end">
      <button class="btn-p" mat-raised-button type="submit" color="primary" cdkFocusInitial
              [disabled]="installmentForm.invalid">
        <mat-icon>done</mat-icon>
        {{CHANGE_BUTTON_TEXT}}
      </button>
      <button mat-button type="button" mat-dialog-close [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
        {{CANCEL_BUTTON_TEXT}}
      </button>
    </div>
  </form>
</mat-dialog-content>

